<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <title>addmusic</title>
<style>

body{text-align:center}

</style>


</head>
<body>
<h1>添加freemusic资源android</h1>

    <form action="/android/" method="post">
        音频标题：<input type="text" name="title"><br><br>
        音频路径：<input type="text" name="musicurl"><br><br>
        图片路径：<input type="text" name="imgurl"><br><br>
        音乐标号：<input type="text" name="uid"><br><br>
        top音乐：<input type="text" name="top"><br><br>
        <input type="submit" >
    </form>

</body>
</html>