<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>register</h1>

<form method = "post" enctype="multipart/form-data" >

    书名:<input type="text" name="name" ><br>
    音频文件:<br>{{uf.as_p}}<br>
    作者:<input type="text" name="author" ><br>
    出版社:<input type="text" name="Press" ><br>
    栏目:<select name="Column">
        <option value="0">DIVCSS5</option>
        <option value="1">DIVCSS5</option>
        </select>
        <br>
    推荐语:<input type="text" name="Recommended" ><br>
    试读:<input type="text" name="Probation" ><br>
    封面图:<br>{{uf.as_p}}<br>
    简介:<input type="text" name="brief" ><br>
    音频时长:<input type="text" name="Audio" ><br>
    适合人群:<input type="text" name="Suitable" ><br>
<input type="submit" value="ok"/>
</form>
</body>
</html>